@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
      }
    
    .message {
        width: 50%;
        margin-bottom: 25px;
        flex-direction: row;
      }
   
    .heading h2 {
        font-size: 20px;
      }
    
    .top-wrapper h1 {
        font-size: 32px;
      }
    
    .btn {
        width: 50%;
        text-align: center;
      }
}

@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  
  .message {
    width: 100%;
    flex-direction: column;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
